---
import Base from '../../layouts/Base.astro';
import Featured from '../../components/Featured.astro';
import Blogcard from '../../components/Blogcard.astro';
import '../../styles/main.css';

export async function getStaticPaths() {
    const allPosts = await Astro.glob('../blogs/*.md'); 
    allPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
  return [
    { params: { tag: "All" }, props: {posts: allPosts,  emoji: "ðŸŒ", description: "Stay informed and inspired with our comprehensive collection of blogs on web development and programming. Our platform offers a wealth of resources for both beginner and advanced developers, covering topics such as HTML, CSS, JavaScript, web design, front-end development, back-end development, web frameworks, and much more. Explore the latest trends, tools, and techniques to enhance your skills and achieve your development goals.", keywords: "web development, programming, HTML, CSS, JavaScript, web design, front-end development, back-end development, web frameworks, web technologies, web tools, web development trends, web development tips, web development techniques, web development resources, programming languages, web development blogs, programming blogs, web development articles, programming articles"} },
    { params: { tag: "HTML" }, props: {posts: allPosts,  emoji: "ðŸ¦´", description: "Discover the latest tips, tricks, and tutorials on HTML coding and website design. Enhance your front-end development skills with our comprehensive guide on the markup language used to build the web. From basic syntax to advanced techniques, learn how to create responsive, user-friendly web pages with HTML.", keywords:"TML, web development, markup language, website design, web pages, coding, front-end development, hypertext, semantic markup, elements, attributes, syntax."}},
    { params: { tag: "CSS" }, props: {posts: allPosts,  emoji: "ðŸ’„", description: "Learn the ins and outs of CSS with our collection of informative blogs. From beginner guides to advanced techniques, our articles cover everything you need to know about styling and designing websites. Improve your web design skills and stay up-to-date with the latest trends in front-end development with our expert tips and advice on CSS, Cascading Style Sheets. Discover how to create responsive web layouts and stunning UI designs that will make your websites stand out.", keywords:"CSS, Cascading Style Sheets, web design, styling, front-end development, web layout, responsive design, UI design"}},
    { params: { tag: "JavaScript" }, props: {posts: allPosts,  emoji: "âš¡", description: "Looking for tips, tricks, and tutorials on JavaScript? Our blog has you covered! Get the latest insights, news, and resources on JavaScript for beginners and experts alike.", keywords:"JavaScript, programming, web development, front-end development, back-end development, tutorials, tips, tricks, beginners, experts, functions, variables, arrays, objects, DOM, jQuery, React, Angular, Vue.js, Node.js, Express.js."}},
    { params: { tag: "Programming" }, props: {posts: allPosts,  emoji: "ðŸ¦¾", description: "Explore a variety of programming topics and stay up to date with the latest trends and techniques in software development. Our blog features articles on programming languages, web development, algorithms, data structures, and more. Whether you are a beginner or an experienced programmer, our blog provides valuable insights and tips to help you improve your skills and stay ahead of the curve. Keep learning and enhancing your knowledge with our informative and engaging programming blogs.", keywords:"programming, coding, software development, computer science, programming languages, web development, algorithms, data structures, software engineering, computer programming"}},
    { params: { tag: "Webdev" }, props: {posts: allPosts,  emoji: "ðŸ•¸ï¸", description: "This webpage is dedicated to providing informative and helpful blog articles about web development. Our focus is on frontend development using HTML, CSS, and JavaScript, as well as exploring other programming languages and web technologies. We cover a range of topics related to web design, coding techniques, best practices, and industry news to help developers stay informed and up-to-date with the latest trends. Whether you are a beginner or an experienced developer, our blog provides valuable insights and resources to enhance your skills and knowledge in web development.", keywords:"web development, frontend development, HTML, CSS, JavaScript, web design, programming languages, web technologies"}},
    { params: { tag: "Study" }, props: {posts: allPosts,  emoji: "ðŸ“˜", description: "Discover the best study tips and online resources for learning web development and programming. Our blog offers practical advice on time management, productivity, and self-paced courses to help you succeed in your journey to become a skilled developer. Learn how to improve your coding skills, find the best online tutorials, and discover useful tools for mastering programming concepts. Our experts share their insights and experience, giving you the knowledge you need to succeed in your web development and programming education. Join our community of learners and start your journey towards a rewarding career in tech today.", keywords:"web development, programming, study tips, online learning, self-paced courses, time management, productivity, coding, online resources, tutorials"}},
    { params: { tag: "UIUX" }, props: {posts: allPosts,  emoji: "ðŸ’…", description: "Welcome to our blog dedicated to UI and UX design! Our site is the perfect place to find information on user interface and experience design, web design, user-centered design, and design principles. Our blog offers insights, tips, and advice on how to create engaging and effective digital products that meet the needs of your users. Whether you are a beginner or an experienced designer, you will find valuable content that will help you improve your design skills and create better products. Join our community today and take your design skills to the next level!", keywords:"UI design, UX design, user interface design, user experience design, web design, user-centered design, design principles"}},
    { params: { tag: "Latest" }, props: {posts: allPosts,  emoji: "ðŸ—žï¸", description: "Stay up-to-date with the latest insights and tips on web development and programming! Our blog features informative articles on topics such as HTML, CSS, JavaScript, and more. Discover new tools, techniques, and trends to enhance your skills and stay ahead in the fast-paced world of web development.", keywords:"HTML, CSS, JavaScript, web development, programming, web design, front-end development, back-end development, web technologies, web tools, web frameworks, web trends, web development tips, web development insights, programming languages, web development techniques"}},
    ]
}

const { tag } = Astro.params;
const { emoji } = Astro.props;
const { keywords } = Astro.props;
const { description } = Astro.props;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) => post.frontmatter.tags.includes(tag));
---

<Base 
title={`${tag} Blogs | Codeology`}
keywords={keywords}
description={description}
>
	<main>
        <div class="md:w-3/4 w-full ">
            <h3 class="header">{tag} Blogs {emoji}</h3>
            {filteredPosts.map((blog) => <Blogcard {blog} />)}
        </div>
        <Featured />
    </main>
</Base>