---
import Base from '../../layouts/Base.astro';
import Featured from '../../components/Featured.astro';
import Blogcard from '../../components/Blogcard.astro';
import '../../styles/main.css';

export async function getStaticPaths() {
    const allPosts = await Astro.glob('../blogs/*.md'); 
    const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft);
    nonDraftPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
  return [
    { params: { tag: "All" }, props: {posts: nonDraftPosts,  emoji: "ðŸŒ", description: "Stay informed and inspired with our comprehensive collection of blogs on web development and programming. Our platform offers a wealth of resources for both beginner and advanced developers.", keywords: "web development, programming, HTML, CSS, JavaScript, web design, front-end development, back-end development, web frameworks, web technologies, web tools, web development trends, web development tips, web development techniques, web development resources, programming languages, web development blogs, programming blogs, web development articles, programming articles"} },
    { params: { tag: "HTML" }, props: {posts: nonDraftPosts,  emoji: "ðŸ¦´", description: "Discover the latest tips, tricks, and tutorials on HTML coding and website design. Enhance your front-end development skills with our comprehensive guide on the markup language used to build the web.", keywords:"TML, web development, markup language, website design, web pages, coding, front-end development, hypertext, semantic markup, elements, attributes, syntax."}},
    { params: { tag: "CSS" }, props: {posts: nonDraftPosts,  emoji: "ðŸ’„", description: "Learn the ins and outs of CSS with our collection of informative blogs. From beginner guides to advanced techniques, our articles cover everything you need to know about styling and designing websites.", keywords:"CSS, Cascading Style Sheets, web design, styling, front-end development, web layout, responsive design, UI design"}},
    { params: { tag: "JavaScript" }, props: {posts: nonDraftPosts,  emoji: "âš¡", description: "Looking for tips, tricks, and tutorials on JavaScript? Our blog has you covered! Get the latest insights, news, and resources on JavaScript for beginners and experts alike.", keywords:"JavaScript, programming, web development, front-end development, back-end development, tutorials, tips, tricks, beginners, experts, functions, variables, arrays, objects, DOM, jQuery, React, Angular, Vue.js, Node.js, Express.js."}},
    { params: { tag: "Programming" }, props: {posts: nonDraftPosts,  emoji: "ðŸ¦¾", description: "Explore a variety of programming topics and stay up to date with the latest trends and techniques in software development. Our blog features articles on programming languages, web development, algorithms, data structures, and more. ", keywords:"programming, coding, software development, computer science, programming languages, web development, algorithms, data structures, software engineering, computer programming"}},
    { params: { tag: "Webdev" }, props: {posts: nonDraftPosts,  emoji: "ðŸ•¸ï¸", description: "This webpage is dedicated to providing informative and helpful blog articles about web development. Our focus is on frontend development using HTML, CSS, and JavaScript", keywords:"web development, frontend development, HTML, CSS, JavaScript, web design, programming languages, web technologies"}},
    { params: { tag: "Study" }, props: {posts: nonDraftPosts,  emoji: "ðŸ“˜", description: "Discover the best study tips and online resources for learning web development and programming. Our blog offers practical advice on time management, productivity, and self-paced courses to help you succeed in your journey to become a skilled developer. ", keywords:"web development, programming, study tips, online learning, self-paced courses, time management, productivity, coding, online resources, tutorials"}},
    { params: { tag: "UIUX" }, props: {posts: nonDraftPosts,  emoji: "ðŸ’…", description: "Welcome to our blog dedicated to UI and UX design! Our site is the perfect place to find information on user interface and experience design, web design, user-centered design, and design principles.", keywords:"UI design, UX design, user interface design, user experience design, web design, user-centered design, design principles"}},
    { params: { tag: "Latest" }, props: {posts: nonDraftPosts,  emoji: "ðŸ—žï¸", description: "Stay up-to-date with the latest insights and tips on web development and programming! Our blog features informative articles on topics such as HTML, CSS, JavaScript, and more.", keywords:"HTML, CSS, JavaScript, web development, programming, web design, front-end development, back-end development, web technologies, web tools, web frameworks, web trends, web development tips, web development insights, programming languages, web development techniques"}},
    { params: { tag: "Frameworks" }, props: {posts: nonDraftPosts,  emoji: "âš›ï¸", description: "Explore the latest trends and insights on frontend web frameworks. Discover the best JavaScript and CSS frameworks for building responsive and interactive user interfaces.", keywords:"frontend web frameworks, web development, frontend frameworks, web design, JavaScript frameworks, CSS frameworks, responsive design, user interface, user experience, web technologies"}},
    // { params: { tag: "Resources" }, props: {posts: nonDraftPosts,  emoji: "ðŸ”—", description: "Discover a curated collection of the top web development resources. Enhance your coding skills and stay up-to-date ", keywords:"web development resources, JavaScript frameworks, frontend frameworks, backend frameworks, web design tools, web development libraries, programming languages, web development tutorials, coding resources, software development"}},
    // { params: { tag: "SSGs" }, props: {posts: nonDraftPosts,  emoji: "ðŸ”Œ", description: "Explore the world of static site generators through our informative blog articles. Learn about popular options like Astro and Eleventy.", keywords:"static site generators, web development, static websites, website generators, Jekyll, Hugo, Gatsby, Eleventy, website performance, static site benefits, content management systems"}},
    // { params: { tag: "Backend" }, props: {posts: nonDraftPosts,  emoji: "ðŸ”’", description: "Stay informed about the latest trends and techniques in backend web development through our insightful blog articles. Explore server-side programming, backend frameworks, database management, and API development.", keywords:"backend web development, server-side programming, backend frameworks, database management, API development, server-side scripting, backend languages, web server technologies, performance optimization, scalability"}},
    ]
}

const { tag } = Astro.params;
const { emoji } = Astro.props;
const { keywords } = Astro.props;
const { description } = Astro.props;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) => post.frontmatter.tags.includes(tag));
---

<Base 
title={`${tag} Blogs | Codeology`}
keywords={keywords}
description={description}
>
	<main>
        <div class="md:w-3/4 w-full ">
            <h3 class="header">{tag} Blogs {emoji}</h3>
            {filteredPosts.map((blog) => <Blogcard {blog} />)}
        </div>
        <Featured />
    </main>
</Base>