---
import Base from './Base.astro';
import Featured from '../components/Featured.astro';
import '../styles/main.css';
const { frontmatter } = Astro.props;
---

<Base 
title={frontmatter.title}``
keywords={frontmatter.keywords}
description={frontmatter.pageDescription}
>
    <main class="">
        <div class="md:w-3/4 w-full">
            <div class="blogcard">
                <!-- <pre>{JSON.stringify(frontmatter, null, 2)}</pre> -->
                <div class="blur-load" >
                    <img loading="lazy" class="img" src={frontmatter.image} alt={frontmatter.src} />
                </div>
                <div class="details">
                    <h3>{frontmatter.title}</h3>
                    <slot />
                </div>
            </div>
        </div>
        <Featured />
    </main>
</Base>

<script is:inline>
    const blurDiv = document.querySelector(".blur-load")
    const img = blurDiv.querySelector("img")

    function loaded() {
        blurDiv.classList.add("loaded")
    }

    if (img.complete) {
        loaded();
    }

    else {
        img.addEventListener("load" ,loaded)
    }
</script>


